{% extends "admin/base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>Reset run</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<form method="POST" id="reset-ctf-form">
					<div class="alert alert-danger" role="alert">
						<p>
							Resetting your run will change verified=False for all users. Run number will increase by 1.
						</p>
					</div>

					<input id="nonce" type="hidden" name="nonce" value="{{ nonce }}">

                    <div style="float: left; width: 30%; padding-right: 5px;">
                        <button id="cancel" class="btn btn-danger btn-lg btn-block">
                            Cancel
                        </button>
                    </div>
                    <div style="float: left; width: 70%;">
                        <button class="btn btn-warning btn-lg btn-block">
                            Reset run
                        </button>
                    </div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script>
		$('#reset-ctf-form').submit(function(e){
			e.preventDefault();
			ezq({
				title: "Reset run?",
				body: "Are you sure you want to reset your run?",
				success: function () {
					$('#reset-ctf-form').off('submit').submit();
				}
			});
		});
		$('#cancel').click(function(e){
			e.preventDefault();
            window.location.replace("{{ url_for('admin.config', theme='admin') }}")
		});
	</script>
{% endblock %}
